.error403 {
    margin: 50px auto;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #4b4b4b;
    font-size: large;
}

.error403__title {
    font-size: 16rem;
    font-weight: bold;
}

.error403__link {
    text-decoration: none;
}

.error403__button {
    margin-top: 30px !important;
}
